* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App{
    width: 800px;
}

.post{
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post-enter {
    transform: translateX(150px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-150px);
    transition: all 500ms ease-in;
}

.pagination-div{
    margin-top: 30px;
    display: flex;
}
.page{
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}
.page-current{
    padding: 10px;
    border: 3px solid green;
    font-weight: bold;
}
.navbar{
    height: 50px;
    width: 80vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border: 1px solid teal;
    margin: 10px;
}

.navbar-elems{
    margin-left: auto;
}

.post_btn{
    display: flex;
}